# Игнорируем все папки cmake-build-debug во всех подпапках
**/cmake-build-debug/

# Игнорируем IDE-конфиги
**/.idea/
**/.vscode/

# Артефакты сборки и временные файлы
*.o
*.obj
*.exe
*.log
*.tmp
*.swp
*.cache

# CMake
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/cmake_install.cmake
